@tailwind base;
@tailwind components;
@tailwind utilities;

.input-styles {
  @apply w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-neutral-900 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-800 dark:focus:border-gray-500;
}

.select-styles {
  @apply w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-neutral-900 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-800 dark:focus:border-gray-500;
}

.button-styles {
  @apply text-white bg-indigo-500 hover:bg-indigo-600 transition-all rounded-md focus:bg-indigo-600 focus:outline-none;
}

.button-outlined-styles {
  @apply text-indigo-500 border border-indigo-500 hover:bg-indigo-500 hover:text-white transition-all rounded-md focus:bg-indigo-600 focus:outline-none;
}

.form-group {
  @apply flex flex-col gap-2;
}

.modal__backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.modal__title {
  @apply text-xl font-semibold dark:text-indigo-300 text-indigo-700;
}

.modal__close-button {
  @apply !bg-transparent;
}

.rd3t-leaf-node {
  stroke: #818cf8 !important;
}

.rd3t-node {
  stroke: #818cf8 !important;
  fill: #818cf8 !important;
}

@media (prefers-color-scheme: dark) {
  .rd3t-link {
    stroke: #fff !important;
  }

  .rd3t-label__title {
    fill: #fff !important;
  }
}
